<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>iManage Inbox Page</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link href="css/app.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.ibutton.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.uniform.js"></script>
<script type="text/javascript" src="js/plugins/forms/jquery.chosen.min.js"></script>
<script type="text/javascript" src="js/app/underscore.js"></script>
<script type="text/javascript" src="js/app/backbone.js"></script>
<script type="text/javascript" src="js/plugins/forms/xdate.js"></script>
<script type="text/javascript" src="js/app/main.js"></script>



<!-- <script type="text/javascript" src="js/files/functions.js"></script> -->

</head>

<body>

<!-- Top line begins -->
<div id="top">
  <div class="wrapper detail">
      <a href="index.html" title="" class="logo"></a>
        
        <!-- Right top nav -->
        <div class="topNav">
            <ul class="userNav">
                <li><a title="" class="search"></a></li>
                <li><a href="#" title="" class="screen"></a></li>
                <li><a href="#" title="" class="settings"></a></li>
                <li><a href="#" title="" class="logout"></a></li>
                <li class="showTabletP"><a href="#" title="" class="sidebar"></a></li>
            </ul>
            <a title="" class="iButton"></a>
            <a title="" class="iTop"></a>
            <div class="topSearch">
              <div class="topDropArrow"></div>
                <form action="">
                    <input type="text" placeholder="search..." name="topSearch" />
                    <input type="submit" value="" />
                </form>
            </div>
        </div>        
        <div class="clear"></div>
    </div>
</div>
<!-- Top line ends -->


<!-- Sidebar begins -->
<div id="sidebar">

  <!-- Main nav -->
    <div class="mainNav">
        <div class="user">
            <a title="" class="leftUserDrop"><img src="images/live/face1.png" alt="" /><span><strong>3</strong></span></a><span>Admin</span>
            <ul class="leftUser">
                <li><a href="#" title="" class="sProfile">My profile</a></li>
                <li><a href="#" title="" class="sMessages">Messages</a></li>
                <li><a href="#" title="" class="sSettings">Settings</a></li>
                <li><a href="#" title="" class="sLogout">Logout</a></li>
            </ul>
        </div>
        <!-- Main nav -->
        <ul class="nav">
            <li><a href="next.html" title=""><div class="fs1 iconb" data-icon=""></div><span>Next</span></a></li>
            <li><a href="inbox.html" title="" class="active"><div class="fs1 iconb" data-icon=""></div><span>Inbox</span></a></li>
            <li><a href="project.html" title=""><div class="fs1 iconb" data-icon=""></div><span>Projects</span></a></li>
            <li><a href="context.html" title=""><div class="fs1 iconb" data-icon=""></div><span>Context</span></a></li>
            <li><a href="calendar.html" title=""><div class="fs1 iconb" data-icon=""></div><span>Calendar</span></a></li>
        </ul>
    </div>

</div>
<!-- Sidebar ends -->
    
<!-- Content begins -->
<div id="content" style="margin-left: 100px;">
    <div class="contentTop">
        <span class="pageTitle">Project Status</span>
    </div>

    
    <!-- Main content -->
    <div class="wrapper " id="todoapp">

        <section class="list">
            <div class="enterMessage">
                <input type="text" id="addText" name="enterMessage" placeholder="What to do next..." />
                <div class="sendBtn">
                    <input type="submit" name="sendMessage" id="add" class="buttonS bLightBlue" value="Add" />
                </div>
            </div>
    
            <!-- Today Task -->
            <div class="widget">
                <div class="whead">
                    <h6>CREATED TODAY</h6>
                    <div class="on_off">
                        <span>Show Completed</span>
                        <input type="checkbox" name="chbox" />
                    </div>            
                    <div class="clear"></div>
                </div>
                
                <ul id="today-task-list" class="messagesOne task-list hideCompletion">
  
                </ul>
                <div class="whead">
                    <h6>CREATED PREVIOUSLY</h6>
                    <div class="on_off">
                        <span>Show Completed</span>
                        <input type="checkbox" name="chbox" />
                    </div>            
                    <div class="clear"></div>
                </div> 
                <ul id="previous-task-list" class="messagesOne task-list hideCompletion">
  
                </ul>
            </div>
        </section><!--  .list ends -->    


        <section id="single-detail" class="detail fluid">


        </section><!--  .list ends -->   
        <div class="clear"></div>
    </div>
    <!-- Main content ends -->


</div>
<!-- Content ends -->

<script type="text/template" id="item-template">

<li class="by_user <%= done ? ' completed' : '' %>">
    <div class="messageArea">
        <div <%= priority ? '' : 'style="display:none"' %>class="fs1 iconb star" data-icon=""></div>
        <div <%= priority ? 'style="display:none"' : '' %> class="fs1 iconb star" data-icon=""></div>
        <div style="display:none" class="fs1 iconb" data-icon=""></div>
        <%- title %>
        <% if (category != "") { %>
        <% _.each(category.split(','), function(cat, index){ %>
          <span class="greyBack label"><%- cat %></span> 
        <% }); %>
        <% } %>

    </div>
    <div class="clear"></div>
</li>    
</script>

<script type="text/template" id="single-detail-template">

<div class="widget">
    <div class="whead">
        <div class="formRow titleViewRow">
            <input type="checkbox" id="complete" <%- done ? 'checked="checked"' : '' %>  name="chbox">
            <h5><%- title %></h5>
            <div class="action">
                <div <%= priority ? '' : 'style="display:none"' %>class="fs1 iconb star" data-icon=""></div>
                <div <%= priority ? 'style="display:none"' : '' %> class="fs1 iconb star" data-icon=""></div>
            </div>
        </div>       
        
        <div class="formRow titleEditRow" style="display: none">
            <input type="text" value="<%- title %>" />
            <div class="action">
                <a href="#" id="saveTitle" class="buttonS bDefault opt" ><div class="fs1 iconb" data-icon=""></div></a>
                <a href="#" id="closeTitle" class="buttonS bDefault opt" ><div class="fs1 iconb" data-icon=""></div></a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
        
    <div class="formRow">
        <div class="grid3"><label>Created On:</label></div>
        <div class="grid3"><h6>
            <% if (datetime_created) { 
                var datetime = new XDate(datetime_created); 
                var result = datetime.toString("ddd, MMM dd, hh:mm tt");
            %>
            <%= result %>
            <% } %>
        </h6></div>
        <div class="grid3"><label>Finished On:</label></div>
        <div class="grid3"><h6>
            <% if (datetime_finished) { 
                var datetime = new XDate(datetime_finished); 
                var result = datetime.toString("ddd, MMM dd, hh:mm tt");
            %>
            <%= result %>
            <% } %>
        </h6></div>
        <div class="clear"></div>
    </div>
    <div class="formRow">
        <div class="grid3"><label>Due Date:</label></div>
        <div class="grid8"><input type="text" id="" class="datepicker" /></div>
        <div class="clear"></div>
    </div>                

    <div class="formRow">
        <div class="grid3">
            <label>Time Assigned:</label>
        </div>
        <div class="grid3">
            <select name="timeAssigned" class="styled" >
            <option <%= timeAssigned == "1800000" ? "selected" : "" %> value="1800000">30m</option>
            <option <%= timeAssigned == "3600000" ? "selected" : "" %> value="3600000">1h</option>
            <option <%= timeAssigned == "5400000" ? "selected" : "" %> value="5400000">1.5h</option>
            <option <%= timeAssigned == "7200000" ? "selected" : "" %> value="7200000">2h</option>
            <option <%= timeAssigned == "10800000" ? "selected" : "" %> value="10800000">3h</option>
            <option <%= timeAssigned == "18000000" ? "selected" : "" %> value="18000000">5h</option>
            <option <%= timeAssigned == "-1" ? "selected" : "" %> value="-1">1+ days</option>
            </select>
        </div>
        <div class="grid3">
            <label>Time Spent:</label>
        </div>
        <div class="grid3">
            <% if(datetime_created && datetime_finished) { 
                var datetime_finished = new XDate(datetime_finished);
                var datetime_created = new XDate(datetime_created); 
                var result = Math.floor(datetime_created.diffDays(datetime_finished) * 10) / 10 + " days";
                if (parseFloat(result) < 1) {
                    result = Math.floor(datetime_created.diffHours(datetime_finished) * 10) / 10 + " hours";
                }

            %>
            <%= result %>
            <% } %>
        </div>
        <div class="clear"></div>    
    </div>
    <div class="formRow">
        <div class="grid3"><label>Tags:</label></div>
        <div class="grid9"><input type="text" id="tags" name="category" class="tags" value="<%- category %>" /></div>
        <div class="clear"></div>
    </div>

    <div class="formRow">
        <div class="grid3">
        <label>Notes:</label>
        </div>
        <div class="grid9">
        <textarea rows="8" cols="" name="notes" placeholder="Your message"><%- notes %></textarea>
        </div>
        <div class="clear"></div>
    </div>
    <div class="formRow noBorderB">
        <div class="grid2">
        <input id="save" type="submit" class="buttonS bLightBlue" value="Save">
        </div>
        <div class="grid2">
        <input id="close" type="submit" class="buttonS bRed" value="Close">
        </div>
        <div class="grid2 action"><div id="delete" class="fs1 iconb" data-icon=""></div></div>
        <div class="clear"></div>
    </div>
</div>

</script>

<script type="text/javascript" src="js/app/model.js"></script>
<script type="text/javascript" src="js/app/collection.js"></script>
<script type="text/javascript" src="js/app/view-model.js"></script>
<script type="text/javascript" src="js/app/view-collection.js"></script>
<script type="text/javascript" src="js/app/view-app.js"></script>

</body>
</html>
